body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.nav-logo {
  display: flex;
  gap: 5%;
}
.nav-logo img {
  height: 100%;
  align-self: center;
}
.nav-title {
  color: #0b0223;
  font-size: 3em;
  font-weight: 800;
}
.text-color {
  color: #ff42a5;
}

.nav-menu > ul {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.nav-menu li {
  list-style: none;
  margin-left: 40px;
  height: 2.5em;
  text-align: center;
  padding-top: 5px;
}
.nav-menu li:last-child {
  background-color: #479e9d;
  border-radius: 5px;
  padding-top: 5px;
}

nav a {
  text-decoration: none;
  color: #443636;
}

/* banner related style */
.banner {
  display: flex;
  justify-content: center;
  gap: 30%;
}
.banner-container-1 .title-text {
  font-size: 48px;
  font-weight: 600;
  color: #0b0223;
}
.special-char {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 95px;
  line-height: 111px;
  text-align: center;
  text-transform: uppercase;

  background: linear-gradient(270deg, #f94872 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -text-fill-color: transparent;
}
.buttn-primary-pink {
  border-radius: 1.5em;
  font-size: 1.2rem;
  background: linear-gradient(90deg, #f94872 0%, #970a2b 100%);
  padding: 20px 25px;
  color: #fff;
  cursor: pointer;
  border: 0;
  /* margin: 5%; */
}
.buttn-primary-liteblue {
  border-radius: 1.5em;
  font-size: 1.2rem;
  background: linear-gradient(90deg, #8758f1 0%, #250d5f 100%);
  padding: 20px 25px;
  color: #fff;
  cursor: pointer;
  border: 0;
  /* margin: 5%; */
}
