body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.nav-logo {
  display: flex;
  gap: 5%;
}
.nav-logo img {
  height: 100%;
  align-self: center;
}
.nav-title {
  color: #0b0223;
  font-size: 3em;
  font-weight: 800;
}
.text-color {
  color: #ff42a5;
}

.nav-menu > ul {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.nav-menu li {
  list-style: none;
  margin-left: 40px;
  height: 2.5em;
  text-align: center;
  padding-top: 5px;
}
.nav-menu li:last-child {
  background-color: #479e9d;
  border-radius: 5px;
  padding-top: 5px;
}

nav a {
  text-decoration: none;
  color: #443636;
}

/* banner related style */
.banner {
  display: flex;
  justify-content: center;
  gap: 30%;
}
.banner-container-1 .title-text {
  font-size: 48px;
  font-weight: 600;
  color: #0b0223;
}
.special-char {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 95px;
  line-height: 111px;
  text-align: center;
  text-transform: uppercase;

  background: linear-gradient(270deg, #f94872 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -text-fill-color: transparent;
}
.buttn-primary-pink {
  border-radius: 1.5em;
  font-size: 1.2rem;
  background: linear-gradient(90deg, #f94872 0%, #970a2b 100%);
  padding: 20px 25px;
  color: #fff;
  cursor: pointer;
  border: 0;
  /* margin: 5%; */
}
.buttn-primary-liteblue {
  border-radius: 1.5em;
  font-size: 1.2rem;
  background: linear-gradient(90deg, #8758f1 0%, #250d5f 100%);
  padding: 20px 25px;
  color: #fff;
  cursor: pointer;
  border: 0;
  /* margin: 5%; */
}

/* we arew game section */

.we-are-gamer {
  display: flex;
  justify-content: space-around;
  gap: 10%;
  /* margin: 12rem 12rem; */
  text-align: right;
}
.gamer-title-text {
  font-size: 48px;
  font-weight: 600;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* text-align: right; */

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}
.we-are-gamer-container-2 {
  width: 20%;
}
/* Funny video and cards section */
.funny-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.online-games {
  text-align: center;
}

.gamer-title-text-black {
  font-size: 48px;
  font-weight: 600;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.images-card {
  display: grid;
  grid-template-columns: repeat(4, 12.5fr);
  gap: 1.5rem;
  margin: 0% 10%;
}

.image-card {
  display: block;
  margin-bottom: 5%;
  width: 105%;
}
.img-card {
  text-align: center;
}
.image-card-links:hover {
  opacity: 50%;
}

/* play instantly section */
.play-instantly {
  display: flex;
  justify-content: center;
  /* gap: 10%; */
  margin: 5% 11%;
}
#instatnly-container-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.instantly-title {
  width: 59%;
  height: 90%;
  text-align: right;
}
#instantly-img1 {
  width: 150%;
}
#instatnly-container-3 {
  position: relative;
  margin-top: -40%;
  margin-left: -15%;
}
/* Career Section styles */

#career {
  background-color: #ff42a5;
  display: flex;
  /* justify-content: space-around; */
  padding: 0% 15%;
}
/* :::::grid layout for text of career section::::: */
.career-content-text-1 {
  grid-area: heading;
}
.career-content-text-1 h2 {
  font-size: 2.5rem;
}
.career-content-text-2 {
  grid-area: position;
}
.career-content-text-3 {
  grid-area: location;
}
.career-content-text-4 {
  grid-area: linkedButtn;
}
.career-content-text-2 ul {
  list-style: none;
  text-align: left;
}
.career-content-text-3 ul {
  list-style: none;
  text-align: right;
}

#career-container-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "heading heading"
    "position location"
    "linkedButtn .";
  color: #fff;
}
.buttn-primary-white {
  border-radius: 1.5em;
  font-size: 1.2rem;
  background: #fff;
  padding: 20px 25px;
  color: #ff42a5;
  cursor: pointer;
  border: 0;
}
/* Button Section Styles */
.bttn-section {
  padding-top: 2%;
}
#bttn-container-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  justify-items: center;
}
/* .bttn-image {
  padding-top: 5%;
} */

.bttn-visual {
  border-radius: 1.5em;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 20px 25px;
  border: 0;
  background: none;
}
.bttn-visual img {
  vertical-align: middle;
}
.bttn-visual:hover {
  border: solid 2px #f94872;
  color: #f94872;
}
/* footer section */
/* .footer-logo {
  display: flex;
  gap: 5%;
} */
.footer-logo img {
  height: 100%;
  /* vertical-align: middle; */
}
.footer-title {
  color: #0b0223;
  font-size: 2em;
  font-weight: 800;
}
.text-color {
  color: #ff42a5;
}

/* .nav-menu > ul {
  display: flex;
  align-items: center;
  font-size: 1.5em;
} */
